<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <div id="main" class="body-container" layout:fragment="content">
        <h1 th:text="#{category.list}">Category List</h1>

        <!--Add Form-->
        <form th:action="${formAdd}?'/category':'/category/update'" method="post" class="form-group" style="margin: 20px;">
            <input type="hidden" th:field="${category.id}"/>

            <div th:classappend="${#fields.hasErrors('category.name')}? 'has-error'">

                <label for="cat">Category</label>
                <span th:if="${#fields.hasErrors('category.name')}" th:errors="${category.name}" th:class="has-error">Category Errors</span>
                <input type="text" class="form-control" th:field="${category.name}" id="cat" placeholder="Enter Category"/><br/>

            </div>

            <input type="submit" th:value="#{button.save}" class="btn btn-primary"/>
        </form>
        <!--End of Add Form-->

        <!--Table Form-->
        <div class="data-table">

            <table border="1" class="table">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{table.column.id}">ID</th>
                    <th th:text="#{table.column.category}">Category</th>
                    <th th:text="#{table.column.option}">Option</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="cat:${categories}" th:object="${cat}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td>
                            <a th:href="@{/article/{id}(id=*{id})}">View</a> |
                            <a th:href="@{/category/update/{id}(id=*{id})}">Edit</a> |
                            <a th:href="@{/category/delete/{id}(id=*{id})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--End of Table-->

    </div>

</body>
</html>